@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Raleway:wght@100&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background: linear-gradient(45deg,#F0EABE,#21E1E1, #3B9AE1,#233E8B);
    background-repeat: no-repeat; 
    padding-top: 5.5px;
    color: lightgray;
}
#img{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 80px;
    margin: 20px 100px 0 110px;
}
#myimg{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    object-fit: fill;
}
hr{
    border: 3px solid rgba(255, 255, 255, 0.3); 
     height: 0px; 
     border-top: 0;
     width: 30vh;
     margin-top: 80px;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
     
}
.imgs{
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: center;
    height: 25vh;
    gap: 50px;
}
.medias{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    width: 2.5em;
    height: 2.5em;
    padding-top: 15px;
    transition: 0.5s ease-in-out;
    

}
.medias:hover{
    transition: 0.5s ease;
    transform: scale(1.50);
}

#content{
    text-align: center;
    align-items: center;
    width: 50vh; 
    letter-spacing: 3px;
    font-family: 'Montserrat';
 } 



h2{
    display: flex;
    justify-content: center;
    margin-top: -60px;
    width: 100%;
    font-size: 30px;
    letter-spacing: 3px;
    font-family: 'Raleway';
}
section{
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 65vh;
    border-radius: 25px;
    background-color: white;
    transition: ease-out 1s;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

section:hover{
    transition: 1s ;
   
}

@media (max-width: 1000px){
    #content{
        font-size: 12px;
    }
    section{
        width: 50vw;
        height: 75vh;
    
    }
}
