@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Raleway:wght@100&display=swap');


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background: linear-gradient(45deg, #00235B, #E21818, #BE6DB7); 
    background-repeat: no-repeat; 
    padding-top: 5.5px;
    
}
#myimg{
    position: relative;
    bottom: 80px;
    display: flex;
    margin: 20px 100px 0 100px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 1px solid #00235B;
}
hr{
    border: 4px dotted #480032; 
     height: 0px; 
     border-top: 0;
     width: 10vh;
     margin-top: 100px;
     
}
.imgs{
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: center;
    height: 25vh;
    gap: 30px;
    /* margin-top: 80px; */
    /* margin-bottom: 1px; */
}
.medias{
    /* display: flex; */
    /* align-self: flex-end; */
    /* justify-content: flex-end; */

    width: 2.5em;
    height: 2.5em;
    /* padding-left: 35px; */
    /* margin-bottom: 10px; */
    transition: 0.5s ease-in-out;

}
.medias:hover{
    transition: 0.5s ease;
    transform: scale(1.50);
}
h2 , h3, p{ 
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
    letter-spacing: 3px;
    color: #480032;
}

h2{
    margin-top: -60px;
}
section{
    display: flex;
    justify-content: center;
    width: 35vw;
    height: 70vh;
    border-radius: 20px;
    background-color: white;
    transition: ease-out 1s;
    /* margin: auto; */
    /* padding-top: 100px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

section:hover{
    transition: 1s ;
   
}


